@font-face { font-family: "Noe Display Medium"; src: url("https://static.tumblr.com/gtjt4bo/GW4s3blpl/noe_display_medium.ttf"); }
@font-face { font-family: "Canela"; src: url("https://glen-assets.github.io/fonts/Canela-Regular-Web.ttf"); }
@font-face { font-family: "Proxima Nova"; src: url("https://static.tumblr.com/gtjt4bo/KJWs3bmy5/proximanova-regular.ttf"); }
@font-face { font-family: "Indivisible"; src: url("https://static.tumblr.com/2pnwama/eCGs1v5c8/indivisible-regular.ttf"); }
@font-face { font-family: "Indivisible Medium"; src: url("https://static.tumblr.com/gtjt4bo/E1Vs3inzk/indivisible-medium.ttf"); }
@font-face { font-family: "Indivisible SemiBold"; src: url("https://static.tumblr.com/gtjt4bo/EIvs3w1f4/indivisible-semibold.ttf"); }
@font-face { font-family: "Ogg"; src: url("https://static.tumblr.com/gtjt4bo/JuVs3vrel/ogg-medium.ttf"); }
