.html-dark:root {
    --Loading-Screen-BG:#101318;
    --Loading-Color:#fafafa;

    --Screen-Frame-Color:#101318;

    --H1-Color:#cdd0d8;
    --H2-Color:#b5bdce;

    --Background:#101318;
    --Body-Text-Color:#acb2bf;

    --Mobile-Menu-Lines-Color:#cdd0d8;
    --Nav-Color:#cdd0d8;
    --Header-Title-Color:#b5bdce;
    --Header-Scroll-Line-Color:#818a9e;
    --Copyright-Text-Color:#acb2bf;

    --Project-Border:#30343d;
    --Project-Overlay-Color:rgba(16,19,24,0.9);
    --Project-Overlay-Color-Cert: lightgrey;
    --Project-Tags-Border:#30343d;
    --Project-Tags-BG:rgba(16,19,24,0.69);
    --Project-Eye-Color:#737c93;
    --Project-Eye-Pupil-Color:#cdd0d8;

    --Circular-Graph-Fill:#737c93;
    --Circular-Graph-Empty:#242b37;
    --Circular-Graph-Cover:var(--Background);

    --Skill-Years-Color:#9ea5b4;

    --Email-Underline:#343042;

    --Footer-BG:#1a1f28;
    --Footer-Top-Border:#30343d;
    --Footer-Diamond-Border:#464c5a;
    --Footer-Diamond-BG:#242b37;
    --Footer-Links-Icon-Color:#b6bbc9;

    --Footer-Text-Color:#99a0b3;

    --Tooltip-BG:#5a564f;
    --Tooltip-Text-Color:#fcfcfc;

    --Popup-Border:#30343d;
    --Popup-BG:var(--Background);

    --Popup-Links-Underline:#756960;
    --Popup-Links-Hover:#887c72;

    --Popup-Close-Diamond-Border:#30343d;
    --Popup-Close-Diamond-BG:var(--Popup-BG);

    --Cursor:#d3cebf;
}

.html-dark .header-bg {
    background-image:url("https://static.tumblr.com/gtjt4bo/7cTs3xl2c/daenso_01_full_inv.png")
}

.html-dark .header-parts img.waves-bot {
    opacity:0.24;
}

.html-dark .img-wrap img {
    filter:invert(1) grayscale(1);
    opacity:0.69;
}

.html-dark .hana {
    opacity:0.8;
    filter:contrast(102%);
}

.html-dark .popup-box .faded {
    opacity:0.69
}
